html {
  font-size: 17px
}

.lh-fixed {
  line-height: 24px;
}

.bw1 {
  border-width: 2px
}

.link:focus {
  outline: none;
}

.rotate {
  -webkit-transition: -webkit-transform 15s linear;
  transition: transform 15s linear;
}
.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}