html {
  font-size: 20px
}

.measure-wide {
  max-width: 36em;
}

.gray {
  color: #6C737A;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.link:focus {
  outline: none;
}

.rotate {
  -webkit-transition: -webkit-transform 5s ease-in-out;
  transition: transform 5s ease-in-out;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}