html {
  font-size: 20px
}

.source-serif {
  font-family: 'Source Serif Pro', serif;
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.link:focus {
  outline: none;
}

.rotate {
  -webkit-transition: -webkit-transform 15s linear;
  transition: transform 15s linear;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}