.oc-gray-0 {
  color: #f8f9fa;
}
.bg-oc-gray-0 {
  background-color: #f8f9fa;
}
.b--oc-gray-0 {
  border-color: #f8f9fa;
}
.hover-oc-gray-0:hover,
.hover-oc-gray-0:focus {
  color: #f8f9fa;
}
.hover-bg-oc-gray-0:hover,
.hover-bg-oc-gray-0:focus {
  background-color: #f8f9fa;
}
.oc-gray-1 {
  color: #f1f3f5;
}
.bg-oc-gray-1 {
  background-color: #f1f3f5;
}
.b--oc-gray-1 {
  border-color: #f1f3f5;
}
.hover-oc-gray-1:hover,
.hover-oc-gray-1:focus {
  color: #f1f3f5;
}
.hover-bg-oc-gray-1:hover,
.hover-bg-oc-gray-1:focus {
  background-color: #f1f3f5;
}
.oc-gray-2 {
  color: #e9ecef;
}
.bg-oc-gray-2 {
  background-color: #e9ecef;
}
.b--oc-gray-2 {
  border-color: #e9ecef;
}
.hover-oc-gray-2:hover,
.hover-oc-gray-2:focus {
  color: #e9ecef;
}
.hover-bg-oc-gray-2:hover,
.hover-bg-oc-gray-2:focus {
  background-color: #e9ecef;
}
.oc-gray-3 {
  color: #dee2e6;
}
.bg-oc-gray-3 {
  background-color: #dee2e6;
}
.b--oc-gray-3 {
  border-color: #dee2e6;
}
.hover-oc-gray-3:hover,
.hover-oc-gray-3:focus {
  color: #dee2e6;
}
.hover-bg-oc-gray-3:hover,
.hover-bg-oc-gray-3:focus {
  background-color: #dee2e6;
}
.oc-gray-4 {
  color: #ced4da;
}
.bg-oc-gray-4 {
  background-color: #ced4da;
}
.b--oc-gray-4 {
  border-color: #ced4da;
}
.hover-oc-gray-4:hover,
.hover-oc-gray-4:focus {
  color: #ced4da;
}
.hover-bg-oc-gray-4:hover,
.hover-bg-oc-gray-4:focus {
  background-color: #ced4da;
}
.oc-gray-5 {
  color: #adb5bd;
}
.bg-oc-gray-5 {
  background-color: #adb5bd;
}
.b--oc-gray-5 {
  border-color: #adb5bd;
}
.hover-oc-gray-5:hover,
.hover-oc-gray-5:focus {
  color: #adb5bd;
}
.hover-bg-oc-gray-5:hover,
.hover-bg-oc-gray-5:focus {
  background-color: #adb5bd;
}
.oc-gray-6 {
  color: #868e96;
}
.bg-oc-gray-6 {
  background-color: #868e96;
}
.b--oc-gray-6 {
  border-color: #868e96;
}
.hover-oc-gray-6:hover,
.hover-oc-gray-6:focus {
  color: #868e96;
}
.hover-bg-oc-gray-6:hover,
.hover-bg-oc-gray-6:focus {
  background-color: #868e96;
}
.oc-gray-7 {
  color: #495057;
}
.bg-oc-gray-7 {
  background-color: #495057;
}
.b--oc-gray-7 {
  border-color: #495057;
}
.hover-oc-gray-7:hover,
.hover-oc-gray-7:focus {
  color: #495057;
}
.hover-bg-oc-gray-7:hover,
.hover-bg-oc-gray-7:focus {
  background-color: #495057;
}
.oc-gray-8 {
  color: #343a40;
}
.bg-oc-gray-8 {
  background-color: #343a40;
}
.b--oc-gray-8 {
  border-color: #343a40;
}
.hover-oc-gray-8:hover,
.hover-oc-gray-8:focus {
  color: #343a40;
}
.hover-bg-oc-gray-8:hover,
.hover-bg-oc-gray-8:focus {
  background-color: #343a40;
}
.oc-gray-9 {
  color: #212529;
}
.bg-oc-gray-9 {
  background-color: #212529;
}
.b--oc-gray-9 {
  border-color: #212529;
}
.hover-oc-gray-9:hover,
.hover-oc-gray-9:focus {
  color: #212529;
}
.hover-bg-oc-gray-9:hover,
.hover-bg-oc-gray-9:focus {
  background-color: #212529;
}
.oc-red-0 {
  color: #fff5f5;
}
.bg-oc-red-0 {
  background-color: #fff5f5;
}
.b--oc-red-0 {
  border-color: #fff5f5;
}
.hover-oc-red-0:hover,
.hover-oc-red-0:focus {
  color: #fff5f5;
}
.hover-bg-oc-red-0:hover,
.hover-bg-oc-red-0:focus {
  background-color: #fff5f5;
}
.oc-red-1 {
  color: #ffe3e3;
}
.bg-oc-red-1 {
  background-color: #ffe3e3;
}
.b--oc-red-1 {
  border-color: #ffe3e3;
}
.hover-oc-red-1:hover,
.hover-oc-red-1:focus {
  color: #ffe3e3;
}
.hover-bg-oc-red-1:hover,
.hover-bg-oc-red-1:focus {
  background-color: #ffe3e3;
}
.oc-red-2 {
  color: #ffc9c9;
}
.bg-oc-red-2 {
  background-color: #ffc9c9;
}
.b--oc-red-2 {
  border-color: #ffc9c9;
}
.hover-oc-red-2:hover,
.hover-oc-red-2:focus {
  color: #ffc9c9;
}
.hover-bg-oc-red-2:hover,
.hover-bg-oc-red-2:focus {
  background-color: #ffc9c9;
}
.oc-red-3 {
  color: #ffa8a8;
}
.bg-oc-red-3 {
  background-color: #ffa8a8;
}
.b--oc-red-3 {
  border-color: #ffa8a8;
}
.hover-oc-red-3:hover,
.hover-oc-red-3:focus {
  color: #ffa8a8;
}
.hover-bg-oc-red-3:hover,
.hover-bg-oc-red-3:focus {
  background-color: #ffa8a8;
}
.oc-red-4 {
  color: #ff8787;
}
.bg-oc-red-4 {
  background-color: #ff8787;
}
.b--oc-red-4 {
  border-color: #ff8787;
}
.hover-oc-red-4:hover,
.hover-oc-red-4:focus {
  color: #ff8787;
}
.hover-bg-oc-red-4:hover,
.hover-bg-oc-red-4:focus {
  background-color: #ff8787;
}
.oc-red-5 {
  color: #ff6b6b;
}
.bg-oc-red-5 {
  background-color: #ff6b6b;
}
.b--oc-red-5 {
  border-color: #ff6b6b;
}
.hover-oc-red-5:hover,
.hover-oc-red-5:focus {
  color: #ff6b6b;
}
.hover-bg-oc-red-5:hover,
.hover-bg-oc-red-5:focus {
  background-color: #ff6b6b;
}
.oc-red-6 {
  color: #fa5252;
}
.bg-oc-red-6 {
  background-color: #fa5252;
}
.b--oc-red-6 {
  border-color: #fa5252;
}
.hover-oc-red-6:hover,
.hover-oc-red-6:focus {
  color: #fa5252;
}
.hover-bg-oc-red-6:hover,
.hover-bg-oc-red-6:focus {
  background-color: #fa5252;
}
.oc-red-7 {
  color: #f03e3e;
}
.bg-oc-red-7 {
  background-color: #f03e3e;
}
.b--oc-red-7 {
  border-color: #f03e3e;
}
.hover-oc-red-7:hover,
.hover-oc-red-7:focus {
  color: #f03e3e;
}
.hover-bg-oc-red-7:hover,
.hover-bg-oc-red-7:focus {
  background-color: #f03e3e;
}
.oc-red-8 {
  color: #e03131;
}
.bg-oc-red-8 {
  background-color: #e03131;
}
.b--oc-red-8 {
  border-color: #e03131;
}
.hover-oc-red-8:hover,
.hover-oc-red-8:focus {
  color: #e03131;
}
.hover-bg-oc-red-8:hover,
.hover-bg-oc-red-8:focus {
  background-color: #e03131;
}
.oc-red-9 {
  color: #c92a2a;
}
.bg-oc-red-9 {
  background-color: #c92a2a;
}
.b--oc-red-9 {
  border-color: #c92a2a;
}
.hover-oc-red-9:hover,
.hover-oc-red-9:focus {
  color: #c92a2a;
}
.hover-bg-oc-red-9:hover,
.hover-bg-oc-red-9:focus {
  background-color: #c92a2a;
}
.oc-pink-0 {
  color: #fff0f6;
}
.bg-oc-pink-0 {
  background-color: #fff0f6;
}
.b--oc-pink-0 {
  border-color: #fff0f6;
}
.hover-oc-pink-0:hover,
.hover-oc-pink-0:focus {
  color: #fff0f6;
}
.hover-bg-oc-pink-0:hover,
.hover-bg-oc-pink-0:focus {
  background-color: #fff0f6;
}
.oc-pink-1 {
  color: #ffdeeb;
}
.bg-oc-pink-1 {
  background-color: #ffdeeb;
}
.b--oc-pink-1 {
  border-color: #ffdeeb;
}
.hover-oc-pink-1:hover,
.hover-oc-pink-1:focus {
  color: #ffdeeb;
}
.hover-bg-oc-pink-1:hover,
.hover-bg-oc-pink-1:focus {
  background-color: #ffdeeb;
}
.oc-pink-2 {
  color: #fcc2d7;
}
.bg-oc-pink-2 {
  background-color: #fcc2d7;
}
.b--oc-pink-2 {
  border-color: #fcc2d7;
}
.hover-oc-pink-2:hover,
.hover-oc-pink-2:focus {
  color: #fcc2d7;
}
.hover-bg-oc-pink-2:hover,
.hover-bg-oc-pink-2:focus {
  background-color: #fcc2d7;
}
.oc-pink-3 {
  color: #faa2c1;
}
.bg-oc-pink-3 {
  background-color: #faa2c1;
}
.b--oc-pink-3 {
  border-color: #faa2c1;
}
.hover-oc-pink-3:hover,
.hover-oc-pink-3:focus {
  color: #faa2c1;
}
.hover-bg-oc-pink-3:hover,
.hover-bg-oc-pink-3:focus {
  background-color: #faa2c1;
}
.oc-pink-4 {
  color: #f783ac;
}
.bg-oc-pink-4 {
  background-color: #f783ac;
}
.b--oc-pink-4 {
  border-color: #f783ac;
}
.hover-oc-pink-4:hover,
.hover-oc-pink-4:focus {
  color: #f783ac;
}
.hover-bg-oc-pink-4:hover,
.hover-bg-oc-pink-4:focus {
  background-color: #f783ac;
}
.oc-pink-5 {
  color: #f06595;
}
.bg-oc-pink-5 {
  background-color: #f06595;
}
.b--oc-pink-5 {
  border-color: #f06595;
}
.hover-oc-pink-5:hover,
.hover-oc-pink-5:focus {
  color: #f06595;
}
.hover-bg-oc-pink-5:hover,
.hover-bg-oc-pink-5:focus {
  background-color: #f06595;
}
.oc-pink-6 {
  color: #e64980;
}
.bg-oc-pink-6 {
  background-color: #e64980;
}
.b--oc-pink-6 {
  border-color: #e64980;
}
.hover-oc-pink-6:hover,
.hover-oc-pink-6:focus {
  color: #e64980;
}
.hover-bg-oc-pink-6:hover,
.hover-bg-oc-pink-6:focus {
  background-color: #e64980;
}
.oc-pink-7 {
  color: #d6336c;
}
.bg-oc-pink-7 {
  background-color: #d6336c;
}
.b--oc-pink-7 {
  border-color: #d6336c;
}
.hover-oc-pink-7:hover,
.hover-oc-pink-7:focus {
  color: #d6336c;
}
.hover-bg-oc-pink-7:hover,
.hover-bg-oc-pink-7:focus {
  background-color: #d6336c;
}
.oc-pink-8 {
  color: #c2255c;
}
.bg-oc-pink-8 {
  background-color: #c2255c;
}
.b--oc-pink-8 {
  border-color: #c2255c;
}
.hover-oc-pink-8:hover,
.hover-oc-pink-8:focus {
  color: #c2255c;
}
.hover-bg-oc-pink-8:hover,
.hover-bg-oc-pink-8:focus {
  background-color: #c2255c;
}
.oc-pink-9 {
  color: #a61e4d;
}
.bg-oc-pink-9 {
  background-color: #a61e4d;
}
.b--oc-pink-9 {
  border-color: #a61e4d;
}
.hover-oc-pink-9:hover,
.hover-oc-pink-9:focus {
  color: #a61e4d;
}
.hover-bg-oc-pink-9:hover,
.hover-bg-oc-pink-9:focus {
  background-color: #a61e4d;
}
.oc-grape-0 {
  color: #f8f0fc;
}
.bg-oc-grape-0 {
  background-color: #f8f0fc;
}
.b--oc-grape-0 {
  border-color: #f8f0fc;
}
.hover-oc-grape-0:hover,
.hover-oc-grape-0:focus {
  color: #f8f0fc;
}
.hover-bg-oc-grape-0:hover,
.hover-bg-oc-grape-0:focus {
  background-color: #f8f0fc;
}
.oc-grape-1 {
  color: #f3d9fa;
}
.bg-oc-grape-1 {
  background-color: #f3d9fa;
}
.b--oc-grape-1 {
  border-color: #f3d9fa;
}
.hover-oc-grape-1:hover,
.hover-oc-grape-1:focus {
  color: #f3d9fa;
}
.hover-bg-oc-grape-1:hover,
.hover-bg-oc-grape-1:focus {
  background-color: #f3d9fa;
}
.oc-grape-2 {
  color: #eebefa;
}
.bg-oc-grape-2 {
  background-color: #eebefa;
}
.b--oc-grape-2 {
  border-color: #eebefa;
}
.hover-oc-grape-2:hover,
.hover-oc-grape-2:focus {
  color: #eebefa;
}
.hover-bg-oc-grape-2:hover,
.hover-bg-oc-grape-2:focus {
  background-color: #eebefa;
}
.oc-grape-3 {
  color: #e599f7;
}
.bg-oc-grape-3 {
  background-color: #e599f7;
}
.b--oc-grape-3 {
  border-color: #e599f7;
}
.hover-oc-grape-3:hover,
.hover-oc-grape-3:focus {
  color: #e599f7;
}
.hover-bg-oc-grape-3:hover,
.hover-bg-oc-grape-3:focus {
  background-color: #e599f7;
}
.oc-grape-4 {
  color: #da77f2;
}
.bg-oc-grape-4 {
  background-color: #da77f2;
}
.b--oc-grape-4 {
  border-color: #da77f2;
}
.hover-oc-grape-4:hover,
.hover-oc-grape-4:focus {
  color: #da77f2;
}
.hover-bg-oc-grape-4:hover,
.hover-bg-oc-grape-4:focus {
  background-color: #da77f2;
}
.oc-grape-5 {
  color: #cc5de8;
}
.bg-oc-grape-5 {
  background-color: #cc5de8;
}
.b--oc-grape-5 {
  border-color: #cc5de8;
}
.hover-oc-grape-5:hover,
.hover-oc-grape-5:focus {
  color: #cc5de8;
}
.hover-bg-oc-grape-5:hover,
.hover-bg-oc-grape-5:focus {
  background-color: #cc5de8;
}
.oc-grape-6 {
  color: #be4bdb;
}
.bg-oc-grape-6 {
  background-color: #be4bdb;
}
.b--oc-grape-6 {
  border-color: #be4bdb;
}
.hover-oc-grape-6:hover,
.hover-oc-grape-6:focus {
  color: #be4bdb;
}
.hover-bg-oc-grape-6:hover,
.hover-bg-oc-grape-6:focus {
  background-color: #be4bdb;
}
.oc-grape-7 {
  color: #ae3ec9;
}
.bg-oc-grape-7 {
  background-color: #ae3ec9;
}
.b--oc-grape-7 {
  border-color: #ae3ec9;
}
.hover-oc-grape-7:hover,
.hover-oc-grape-7:focus {
  color: #ae3ec9;
}
.hover-bg-oc-grape-7:hover,
.hover-bg-oc-grape-7:focus {
  background-color: #ae3ec9;
}
.oc-grape-8 {
  color: #9c36b5;
}
.bg-oc-grape-8 {
  background-color: #9c36b5;
}
.b--oc-grape-8 {
  border-color: #9c36b5;
}
.hover-oc-grape-8:hover,
.hover-oc-grape-8:focus {
  color: #9c36b5;
}
.hover-bg-oc-grape-8:hover,
.hover-bg-oc-grape-8:focus {
  background-color: #9c36b5;
}
.oc-grape-9 {
  color: #862e9c;
}
.bg-oc-grape-9 {
  background-color: #862e9c;
}
.b--oc-grape-9 {
  border-color: #862e9c;
}
.hover-oc-grape-9:hover,
.hover-oc-grape-9:focus {
  color: #862e9c;
}
.hover-bg-oc-grape-9:hover,
.hover-bg-oc-grape-9:focus {
  background-color: #862e9c;
}
.oc-violet-0 {
  color: #f3f0ff;
}
.bg-oc-violet-0 {
  background-color: #f3f0ff;
}
.b--oc-violet-0 {
  border-color: #f3f0ff;
}
.hover-oc-violet-0:hover,
.hover-oc-violet-0:focus {
  color: #f3f0ff;
}
.hover-bg-oc-violet-0:hover,
.hover-bg-oc-violet-0:focus {
  background-color: #f3f0ff;
}
.oc-violet-1 {
  color: #e5dbff;
}
.bg-oc-violet-1 {
  background-color: #e5dbff;
}
.b--oc-violet-1 {
  border-color: #e5dbff;
}
.hover-oc-violet-1:hover,
.hover-oc-violet-1:focus {
  color: #e5dbff;
}
.hover-bg-oc-violet-1:hover,
.hover-bg-oc-violet-1:focus {
  background-color: #e5dbff;
}
.oc-violet-2 {
  color: #d0bfff;
}
.bg-oc-violet-2 {
  background-color: #d0bfff;
}
.b--oc-violet-2 {
  border-color: #d0bfff;
}
.hover-oc-violet-2:hover,
.hover-oc-violet-2:focus {
  color: #d0bfff;
}
.hover-bg-oc-violet-2:hover,
.hover-bg-oc-violet-2:focus {
  background-color: #d0bfff;
}
.oc-violet-3 {
  color: #b197fc;
}
.bg-oc-violet-3 {
  background-color: #b197fc;
}
.b--oc-violet-3 {
  border-color: #b197fc;
}
.hover-oc-violet-3:hover,
.hover-oc-violet-3:focus {
  color: #b197fc;
}
.hover-bg-oc-violet-3:hover,
.hover-bg-oc-violet-3:focus {
  background-color: #b197fc;
}
.oc-violet-4 {
  color: #9775fa;
}
.bg-oc-violet-4 {
  background-color: #9775fa;
}
.b--oc-violet-4 {
  border-color: #9775fa;
}
.hover-oc-violet-4:hover,
.hover-oc-violet-4:focus {
  color: #9775fa;
}
.hover-bg-oc-violet-4:hover,
.hover-bg-oc-violet-4:focus {
  background-color: #9775fa;
}
.oc-violet-5 {
  color: #845ef7;
}
.bg-oc-violet-5 {
  background-color: #845ef7;
}
.b--oc-violet-5 {
  border-color: #845ef7;
}
.hover-oc-violet-5:hover,
.hover-oc-violet-5:focus {
  color: #845ef7;
}
.hover-bg-oc-violet-5:hover,
.hover-bg-oc-violet-5:focus {
  background-color: #845ef7;
}
.oc-violet-6 {
  color: #7950f2;
}
.bg-oc-violet-6 {
  background-color: #7950f2;
}
.b--oc-violet-6 {
  border-color: #7950f2;
}
.hover-oc-violet-6:hover,
.hover-oc-violet-6:focus {
  color: #7950f2;
}
.hover-bg-oc-violet-6:hover,
.hover-bg-oc-violet-6:focus {
  background-color: #7950f2;
}
.oc-violet-7 {
  color: #7048e8;
}
.bg-oc-violet-7 {
  background-color: #7048e8;
}
.b--oc-violet-7 {
  border-color: #7048e8;
}
.hover-oc-violet-7:hover,
.hover-oc-violet-7:focus {
  color: #7048e8;
}
.hover-bg-oc-violet-7:hover,
.hover-bg-oc-violet-7:focus {
  background-color: #7048e8;
}
.oc-violet-8 {
  color: #6741d9;
}
.bg-oc-violet-8 {
  background-color: #6741d9;
}
.b--oc-violet-8 {
  border-color: #6741d9;
}
.hover-oc-violet-8:hover,
.hover-oc-violet-8:focus {
  color: #6741d9;
}
.hover-bg-oc-violet-8:hover,
.hover-bg-oc-violet-8:focus {
  background-color: #6741d9;
}
.oc-violet-9 {
  color: #5f3dc4;
}
.bg-oc-violet-9 {
  background-color: #5f3dc4;
}
.b--oc-violet-9 {
  border-color: #5f3dc4;
}
.hover-oc-violet-9:hover,
.hover-oc-violet-9:focus {
  color: #5f3dc4;
}
.hover-bg-oc-violet-9:hover,
.hover-bg-oc-violet-9:focus {
  background-color: #5f3dc4;
}
.oc-indigo-0 {
  color: #edf2ff;
}
.bg-oc-indigo-0 {
  background-color: #edf2ff;
}
.b--oc-indigo-0 {
  border-color: #edf2ff;
}
.hover-oc-indigo-0:hover,
.hover-oc-indigo-0:focus {
  color: #edf2ff;
}
.hover-bg-oc-indigo-0:hover,
.hover-bg-oc-indigo-0:focus {
  background-color: #edf2ff;
}
.oc-indigo-1 {
  color: #dbe4ff;
}
.bg-oc-indigo-1 {
  background-color: #dbe4ff;
}
.b--oc-indigo-1 {
  border-color: #dbe4ff;
}
.hover-oc-indigo-1:hover,
.hover-oc-indigo-1:focus {
  color: #dbe4ff;
}
.hover-bg-oc-indigo-1:hover,
.hover-bg-oc-indigo-1:focus {
  background-color: #dbe4ff;
}
.oc-indigo-2 {
  color: #bac8ff;
}
.bg-oc-indigo-2 {
  background-color: #bac8ff;
}
.b--oc-indigo-2 {
  border-color: #bac8ff;
}
.hover-oc-indigo-2:hover,
.hover-oc-indigo-2:focus {
  color: #bac8ff;
}
.hover-bg-oc-indigo-2:hover,
.hover-bg-oc-indigo-2:focus {
  background-color: #bac8ff;
}
.oc-indigo-3 {
  color: #91a7ff;
}
.bg-oc-indigo-3 {
  background-color: #91a7ff;
}
.b--oc-indigo-3 {
  border-color: #91a7ff;
}
.hover-oc-indigo-3:hover,
.hover-oc-indigo-3:focus {
  color: #91a7ff;
}
.hover-bg-oc-indigo-3:hover,
.hover-bg-oc-indigo-3:focus {
  background-color: #91a7ff;
}
.oc-indigo-4 {
  color: #748ffc;
}
.bg-oc-indigo-4 {
  background-color: #748ffc;
}
.b--oc-indigo-4 {
  border-color: #748ffc;
}
.hover-oc-indigo-4:hover,
.hover-oc-indigo-4:focus {
  color: #748ffc;
}
.hover-bg-oc-indigo-4:hover,
.hover-bg-oc-indigo-4:focus {
  background-color: #748ffc;
}
.oc-indigo-5 {
  color: #5c7cfa;
}
.bg-oc-indigo-5 {
  background-color: #5c7cfa;
}
.b--oc-indigo-5 {
  border-color: #5c7cfa;
}
.hover-oc-indigo-5:hover,
.hover-oc-indigo-5:focus {
  color: #5c7cfa;
}
.hover-bg-oc-indigo-5:hover,
.hover-bg-oc-indigo-5:focus {
  background-color: #5c7cfa;
}
.oc-indigo-6 {
  color: #4c6ef5;
}
.bg-oc-indigo-6 {
  background-color: #4c6ef5;
}
.b--oc-indigo-6 {
  border-color: #4c6ef5;
}
.hover-oc-indigo-6:hover,
.hover-oc-indigo-6:focus {
  color: #4c6ef5;
}
.hover-bg-oc-indigo-6:hover,
.hover-bg-oc-indigo-6:focus {
  background-color: #4c6ef5;
}
.oc-indigo-7 {
  color: #4263eb;
}
.bg-oc-indigo-7 {
  background-color: #4263eb;
}
.b--oc-indigo-7 {
  border-color: #4263eb;
}
.hover-oc-indigo-7:hover,
.hover-oc-indigo-7:focus {
  color: #4263eb;
}
.hover-bg-oc-indigo-7:hover,
.hover-bg-oc-indigo-7:focus {
  background-color: #4263eb;
}
.oc-indigo-8 {
  color: #3b5bdb;
}
.bg-oc-indigo-8 {
  background-color: #3b5bdb;
}
.b--oc-indigo-8 {
  border-color: #3b5bdb;
}
.hover-oc-indigo-8:hover,
.hover-oc-indigo-8:focus {
  color: #3b5bdb;
}
.hover-bg-oc-indigo-8:hover,
.hover-bg-oc-indigo-8:focus {
  background-color: #3b5bdb;
}
.oc-indigo-9 {
  color: #364fc7;
}
.bg-oc-indigo-9 {
  background-color: #364fc7;
}
.b--oc-indigo-9 {
  border-color: #364fc7;
}
.hover-oc-indigo-9:hover,
.hover-oc-indigo-9:focus {
  color: #364fc7;
}
.hover-bg-oc-indigo-9:hover,
.hover-bg-oc-indigo-9:focus {
  background-color: #364fc7;
}
.oc-blue-0 {
  color: #e8f7ff;
}
.bg-oc-blue-0 {
  background-color: #e8f7ff;
}
.b--oc-blue-0 {
  border-color: #e8f7ff;
}
.hover-oc-blue-0:hover,
.hover-oc-blue-0:focus {
  color: #e8f7ff;
}
.hover-bg-oc-blue-0:hover,
.hover-bg-oc-blue-0:focus {
  background-color: #e8f7ff;
}
.oc-blue-1 {
  color: #ccedff;
}
.bg-oc-blue-1 {
  background-color: #ccedff;
}
.b--oc-blue-1 {
  border-color: #ccedff;
}
.hover-oc-blue-1:hover,
.hover-oc-blue-1:focus {
  color: #ccedff;
}
.hover-bg-oc-blue-1:hover,
.hover-bg-oc-blue-1:focus {
  background-color: #ccedff;
}
.oc-blue-2 {
  color: #a3daff;
}
.bg-oc-blue-2 {
  background-color: #a3daff;
}
.b--oc-blue-2 {
  border-color: #a3daff;
}
.hover-oc-blue-2:hover,
.hover-oc-blue-2:focus {
  color: #a3daff;
}
.hover-bg-oc-blue-2:hover,
.hover-bg-oc-blue-2:focus {
  background-color: #a3daff;
}
.oc-blue-3 {
  color: #72c3fc;
}
.bg-oc-blue-3 {
  background-color: #72c3fc;
}
.b--oc-blue-3 {
  border-color: #72c3fc;
}
.hover-oc-blue-3:hover,
.hover-oc-blue-3:focus {
  color: #72c3fc;
}
.hover-bg-oc-blue-3:hover,
.hover-bg-oc-blue-3:focus {
  background-color: #72c3fc;
}
.oc-blue-4 {
  color: #4dadf7;
}
.bg-oc-blue-4 {
  background-color: #4dadf7;
}
.b--oc-blue-4 {
  border-color: #4dadf7;
}
.hover-oc-blue-4:hover,
.hover-oc-blue-4:focus {
  color: #4dadf7;
}
.hover-bg-oc-blue-4:hover,
.hover-bg-oc-blue-4:focus {
  background-color: #4dadf7;
}
.oc-blue-5 {
  color: #329af0;
}
.bg-oc-blue-5 {
  background-color: #329af0;
}
.b--oc-blue-5 {
  border-color: #329af0;
}
.hover-oc-blue-5:hover,
.hover-oc-blue-5:focus {
  color: #329af0;
}
.hover-bg-oc-blue-5:hover,
.hover-bg-oc-blue-5:focus {
  background-color: #329af0;
}
.oc-blue-6 {
  color: #228ae6;
}
.bg-oc-blue-6 {
  background-color: #228ae6;
}
.b--oc-blue-6 {
  border-color: #228ae6;
}
.hover-oc-blue-6:hover,
.hover-oc-blue-6:focus {
  color: #228ae6;
}
.hover-bg-oc-blue-6:hover,
.hover-bg-oc-blue-6:focus {
  background-color: #228ae6;
}
.oc-blue-7 {
  color: #1c7cd6;
}
.bg-oc-blue-7 {
  background-color: #1c7cd6;
}
.b--oc-blue-7 {
  border-color: #1c7cd6;
}
.hover-oc-blue-7:hover,
.hover-oc-blue-7:focus {
  color: #1c7cd6;
}
.hover-bg-oc-blue-7:hover,
.hover-bg-oc-blue-7:focus {
  background-color: #1c7cd6;
}
.oc-blue-8 {
  color: #1b6ec2;
}
.bg-oc-blue-8 {
  background-color: #1b6ec2;
}
.b--oc-blue-8 {
  border-color: #1b6ec2;
}
.hover-oc-blue-8:hover,
.hover-oc-blue-8:focus {
  color: #1b6ec2;
}
.hover-bg-oc-blue-8:hover,
.hover-bg-oc-blue-8:focus {
  background-color: #1b6ec2;
}
.oc-blue-9 {
  color: #1862ab;
}
.bg-oc-blue-9 {
  background-color: #1862ab;
}
.b--oc-blue-9 {
  border-color: #1862ab;
}
.hover-oc-blue-9:hover,
.hover-oc-blue-9:focus {
  color: #1862ab;
}
.hover-bg-oc-blue-9:hover,
.hover-bg-oc-blue-9:focus {
  background-color: #1862ab;
}
.oc-cyan-0 {
  color: #e3fafc;
}
.bg-oc-cyan-0 {
  background-color: #e3fafc;
}
.b--oc-cyan-0 {
  border-color: #e3fafc;
}
.hover-oc-cyan-0:hover,
.hover-oc-cyan-0:focus {
  color: #e3fafc;
}
.hover-bg-oc-cyan-0:hover,
.hover-bg-oc-cyan-0:focus {
  background-color: #e3fafc;
}
.oc-cyan-1 {
  color: #c5f6fa;
}
.bg-oc-cyan-1 {
  background-color: #c5f6fa;
}
.b--oc-cyan-1 {
  border-color: #c5f6fa;
}
.hover-oc-cyan-1:hover,
.hover-oc-cyan-1:focus {
  color: #c5f6fa;
}
.hover-bg-oc-cyan-1:hover,
.hover-bg-oc-cyan-1:focus {
  background-color: #c5f6fa;
}
.oc-cyan-2 {
  color: #99e9f2;
}
.bg-oc-cyan-2 {
  background-color: #99e9f2;
}
.b--oc-cyan-2 {
  border-color: #99e9f2;
}
.hover-oc-cyan-2:hover,
.hover-oc-cyan-2:focus {
  color: #99e9f2;
}
.hover-bg-oc-cyan-2:hover,
.hover-bg-oc-cyan-2:focus {
  background-color: #99e9f2;
}
.oc-cyan-3 {
  color: #66d9e8;
}
.bg-oc-cyan-3 {
  background-color: #66d9e8;
}
.b--oc-cyan-3 {
  border-color: #66d9e8;
}
.hover-oc-cyan-3:hover,
.hover-oc-cyan-3:focus {
  color: #66d9e8;
}
.hover-bg-oc-cyan-3:hover,
.hover-bg-oc-cyan-3:focus {
  background-color: #66d9e8;
}
.oc-cyan-4 {
  color: #3bc9db;
}
.bg-oc-cyan-4 {
  background-color: #3bc9db;
}
.b--oc-cyan-4 {
  border-color: #3bc9db;
}
.hover-oc-cyan-4:hover,
.hover-oc-cyan-4:focus {
  color: #3bc9db;
}
.hover-bg-oc-cyan-4:hover,
.hover-bg-oc-cyan-4:focus {
  background-color: #3bc9db;
}
.oc-cyan-5 {
  color: #22b8cf;
}
.bg-oc-cyan-5 {
  background-color: #22b8cf;
}
.b--oc-cyan-5 {
  border-color: #22b8cf;
}
.hover-oc-cyan-5:hover,
.hover-oc-cyan-5:focus {
  color: #22b8cf;
}
.hover-bg-oc-cyan-5:hover,
.hover-bg-oc-cyan-5:focus {
  background-color: #22b8cf;
}
.oc-cyan-6 {
  color: #15aabf;
}
.bg-oc-cyan-6 {
  background-color: #15aabf;
}
.b--oc-cyan-6 {
  border-color: #15aabf;
}
.hover-oc-cyan-6:hover,
.hover-oc-cyan-6:focus {
  color: #15aabf;
}
.hover-bg-oc-cyan-6:hover,
.hover-bg-oc-cyan-6:focus {
  background-color: #15aabf;
}
.oc-cyan-7 {
  color: #1098ad;
}
.bg-oc-cyan-7 {
  background-color: #1098ad;
}
.b--oc-cyan-7 {
  border-color: #1098ad;
}
.hover-oc-cyan-7:hover,
.hover-oc-cyan-7:focus {
  color: #1098ad;
}
.hover-bg-oc-cyan-7:hover,
.hover-bg-oc-cyan-7:focus {
  background-color: #1098ad;
}
.oc-cyan-8 {
  color: #0c8599;
}
.bg-oc-cyan-8 {
  background-color: #0c8599;
}
.b--oc-cyan-8 {
  border-color: #0c8599;
}
.hover-oc-cyan-8:hover,
.hover-oc-cyan-8:focus {
  color: #0c8599;
}
.hover-bg-oc-cyan-8:hover,
.hover-bg-oc-cyan-8:focus {
  background-color: #0c8599;
}
.oc-cyan-9 {
  color: #0b7285;
}
.bg-oc-cyan-9 {
  background-color: #0b7285;
}
.b--oc-cyan-9 {
  border-color: #0b7285;
}
.hover-oc-cyan-9:hover,
.hover-oc-cyan-9:focus {
  color: #0b7285;
}
.hover-bg-oc-cyan-9:hover,
.hover-bg-oc-cyan-9:focus {
  background-color: #0b7285;
}
.oc-teal-0 {
  color: #e6fcf5;
}
.bg-oc-teal-0 {
  background-color: #e6fcf5;
}
.b--oc-teal-0 {
  border-color: #e6fcf5;
}
.hover-oc-teal-0:hover,
.hover-oc-teal-0:focus {
  color: #e6fcf5;
}
.hover-bg-oc-teal-0:hover,
.hover-bg-oc-teal-0:focus {
  background-color: #e6fcf5;
}
.oc-teal-1 {
  color: #c3fae8;
}
.bg-oc-teal-1 {
  background-color: #c3fae8;
}
.b--oc-teal-1 {
  border-color: #c3fae8;
}
.hover-oc-teal-1:hover,
.hover-oc-teal-1:focus {
  color: #c3fae8;
}
.hover-bg-oc-teal-1:hover,
.hover-bg-oc-teal-1:focus {
  background-color: #c3fae8;
}
.oc-teal-2 {
  color: #96f2d7;
}
.bg-oc-teal-2 {
  background-color: #96f2d7;
}
.b--oc-teal-2 {
  border-color: #96f2d7;
}
.hover-oc-teal-2:hover,
.hover-oc-teal-2:focus {
  color: #96f2d7;
}
.hover-bg-oc-teal-2:hover,
.hover-bg-oc-teal-2:focus {
  background-color: #96f2d7;
}
.oc-teal-3 {
  color: #63e6be;
}
.bg-oc-teal-3 {
  background-color: #63e6be;
}
.b--oc-teal-3 {
  border-color: #63e6be;
}
.hover-oc-teal-3:hover,
.hover-oc-teal-3:focus {
  color: #63e6be;
}
.hover-bg-oc-teal-3:hover,
.hover-bg-oc-teal-3:focus {
  background-color: #63e6be;
}
.oc-teal-4 {
  color: #38d9a9;
}
.bg-oc-teal-4 {
  background-color: #38d9a9;
}
.b--oc-teal-4 {
  border-color: #38d9a9;
}
.hover-oc-teal-4:hover,
.hover-oc-teal-4:focus {
  color: #38d9a9;
}
.hover-bg-oc-teal-4:hover,
.hover-bg-oc-teal-4:focus {
  background-color: #38d9a9;
}
.oc-teal-5 {
  color: #20c997;
}
.bg-oc-teal-5 {
  background-color: #20c997;
}
.b--oc-teal-5 {
  border-color: #20c997;
}
.hover-oc-teal-5:hover,
.hover-oc-teal-5:focus {
  color: #20c997;
}
.hover-bg-oc-teal-5:hover,
.hover-bg-oc-teal-5:focus {
  background-color: #20c997;
}
.oc-teal-6 {
  color: #12b886;
}
.bg-oc-teal-6 {
  background-color: #12b886;
}
.b--oc-teal-6 {
  border-color: #12b886;
}
.hover-oc-teal-6:hover,
.hover-oc-teal-6:focus {
  color: #12b886;
}
.hover-bg-oc-teal-6:hover,
.hover-bg-oc-teal-6:focus {
  background-color: #12b886;
}
.oc-teal-7 {
  color: #0ca678;
}
.bg-oc-teal-7 {
  background-color: #0ca678;
}
.b--oc-teal-7 {
  border-color: #0ca678;
}
.hover-oc-teal-7:hover,
.hover-oc-teal-7:focus {
  color: #0ca678;
}
.hover-bg-oc-teal-7:hover,
.hover-bg-oc-teal-7:focus {
  background-color: #0ca678;
}
.oc-teal-8 {
  color: #099268;
}
.bg-oc-teal-8 {
  background-color: #099268;
}
.b--oc-teal-8 {
  border-color: #099268;
}
.hover-oc-teal-8:hover,
.hover-oc-teal-8:focus {
  color: #099268;
}
.hover-bg-oc-teal-8:hover,
.hover-bg-oc-teal-8:focus {
  background-color: #099268;
}
.oc-teal-9 {
  color: #087f5b;
}
.bg-oc-teal-9 {
  background-color: #087f5b;
}
.b--oc-teal-9 {
  border-color: #087f5b;
}
.hover-oc-teal-9:hover,
.hover-oc-teal-9:focus {
  color: #087f5b;
}
.hover-bg-oc-teal-9:hover,
.hover-bg-oc-teal-9:focus {
  background-color: #087f5b;
}
.oc-green-0 {
  color: #ebfbee;
}
.bg-oc-green-0 {
  background-color: #ebfbee;
}
.b--oc-green-0 {
  border-color: #ebfbee;
}
.hover-oc-green-0:hover,
.hover-oc-green-0:focus {
  color: #ebfbee;
}
.hover-bg-oc-green-0:hover,
.hover-bg-oc-green-0:focus {
  background-color: #ebfbee;
}
.oc-green-1 {
  color: #d3f9d8;
}
.bg-oc-green-1 {
  background-color: #d3f9d8;
}
.b--oc-green-1 {
  border-color: #d3f9d8;
}
.hover-oc-green-1:hover,
.hover-oc-green-1:focus {
  color: #d3f9d8;
}
.hover-bg-oc-green-1:hover,
.hover-bg-oc-green-1:focus {
  background-color: #d3f9d8;
}
.oc-green-2 {
  color: #b2f2bb;
}
.bg-oc-green-2 {
  background-color: #b2f2bb;
}
.b--oc-green-2 {
  border-color: #b2f2bb;
}
.hover-oc-green-2:hover,
.hover-oc-green-2:focus {
  color: #b2f2bb;
}
.hover-bg-oc-green-2:hover,
.hover-bg-oc-green-2:focus {
  background-color: #b2f2bb;
}
.oc-green-3 {
  color: #8ce99a;
}
.bg-oc-green-3 {
  background-color: #8ce99a;
}
.b--oc-green-3 {
  border-color: #8ce99a;
}
.hover-oc-green-3:hover,
.hover-oc-green-3:focus {
  color: #8ce99a;
}
.hover-bg-oc-green-3:hover,
.hover-bg-oc-green-3:focus {
  background-color: #8ce99a;
}
.oc-green-4 {
  color: #69db7c;
}
.bg-oc-green-4 {
  background-color: #69db7c;
}
.b--oc-green-4 {
  border-color: #69db7c;
}
.hover-oc-green-4:hover,
.hover-oc-green-4:focus {
  color: #69db7c;
}
.hover-bg-oc-green-4:hover,
.hover-bg-oc-green-4:focus {
  background-color: #69db7c;
}
.oc-green-5 {
  color: #51cf66;
}
.bg-oc-green-5 {
  background-color: #51cf66;
}
.b--oc-green-5 {
  border-color: #51cf66;
}
.hover-oc-green-5:hover,
.hover-oc-green-5:focus {
  color: #51cf66;
}
.hover-bg-oc-green-5:hover,
.hover-bg-oc-green-5:focus {
  background-color: #51cf66;
}
.oc-green-6 {
  color: #40c057;
}
.bg-oc-green-6 {
  background-color: #40c057;
}
.b--oc-green-6 {
  border-color: #40c057;
}
.hover-oc-green-6:hover,
.hover-oc-green-6:focus {
  color: #40c057;
}
.hover-bg-oc-green-6:hover,
.hover-bg-oc-green-6:focus {
  background-color: #40c057;
}
.oc-green-7 {
  color: #37b24d;
}
.bg-oc-green-7 {
  background-color: #37b24d;
}
.b--oc-green-7 {
  border-color: #37b24d;
}
.hover-oc-green-7:hover,
.hover-oc-green-7:focus {
  color: #37b24d;
}
.hover-bg-oc-green-7:hover,
.hover-bg-oc-green-7:focus {
  background-color: #37b24d;
}
.oc-green-8 {
  color: #2f9e44;
}
.bg-oc-green-8 {
  background-color: #2f9e44;
}
.b--oc-green-8 {
  border-color: #2f9e44;
}
.hover-oc-green-8:hover,
.hover-oc-green-8:focus {
  color: #2f9e44;
}
.hover-bg-oc-green-8:hover,
.hover-bg-oc-green-8:focus {
  background-color: #2f9e44;
}
.oc-green-9 {
  color: #2b8a3e;
}
.bg-oc-green-9 {
  background-color: #2b8a3e;
}
.b--oc-green-9 {
  border-color: #2b8a3e;
}
.hover-oc-green-9:hover,
.hover-oc-green-9:focus {
  color: #2b8a3e;
}
.hover-bg-oc-green-9:hover,
.hover-bg-oc-green-9:focus {
  background-color: #2b8a3e;
}
.oc-lime-0 {
  color: #f4fce3;
}
.bg-oc-lime-0 {
  background-color: #f4fce3;
}
.b--oc-lime-0 {
  border-color: #f4fce3;
}
.hover-oc-lime-0:hover,
.hover-oc-lime-0:focus {
  color: #f4fce3;
}
.hover-bg-oc-lime-0:hover,
.hover-bg-oc-lime-0:focus {
  background-color: #f4fce3;
}
.oc-lime-1 {
  color: #e9fac8;
}
.bg-oc-lime-1 {
  background-color: #e9fac8;
}
.b--oc-lime-1 {
  border-color: #e9fac8;
}
.hover-oc-lime-1:hover,
.hover-oc-lime-1:focus {
  color: #e9fac8;
}
.hover-bg-oc-lime-1:hover,
.hover-bg-oc-lime-1:focus {
  background-color: #e9fac8;
}
.oc-lime-2 {
  color: #d8f5a2;
}
.bg-oc-lime-2 {
  background-color: #d8f5a2;
}
.b--oc-lime-2 {
  border-color: #d8f5a2;
}
.hover-oc-lime-2:hover,
.hover-oc-lime-2:focus {
  color: #d8f5a2;
}
.hover-bg-oc-lime-2:hover,
.hover-bg-oc-lime-2:focus {
  background-color: #d8f5a2;
}
.oc-lime-3 {
  color: #c0eb75;
}
.bg-oc-lime-3 {
  background-color: #c0eb75;
}
.b--oc-lime-3 {
  border-color: #c0eb75;
}
.hover-oc-lime-3:hover,
.hover-oc-lime-3:focus {
  color: #c0eb75;
}
.hover-bg-oc-lime-3:hover,
.hover-bg-oc-lime-3:focus {
  background-color: #c0eb75;
}
.oc-lime-4 {
  color: #a9e34b;
}
.bg-oc-lime-4 {
  background-color: #a9e34b;
}
.b--oc-lime-4 {
  border-color: #a9e34b;
}
.hover-oc-lime-4:hover,
.hover-oc-lime-4:focus {
  color: #a9e34b;
}
.hover-bg-oc-lime-4:hover,
.hover-bg-oc-lime-4:focus {
  background-color: #a9e34b;
}
.oc-lime-5 {
  color: #94d82d;
}
.bg-oc-lime-5 {
  background-color: #94d82d;
}
.b--oc-lime-5 {
  border-color: #94d82d;
}
.hover-oc-lime-5:hover,
.hover-oc-lime-5:focus {
  color: #94d82d;
}
.hover-bg-oc-lime-5:hover,
.hover-bg-oc-lime-5:focus {
  background-color: #94d82d;
}
.oc-lime-6 {
  color: #82c91e;
}
.bg-oc-lime-6 {
  background-color: #82c91e;
}
.b--oc-lime-6 {
  border-color: #82c91e;
}
.hover-oc-lime-6:hover,
.hover-oc-lime-6:focus {
  color: #82c91e;
}
.hover-bg-oc-lime-6:hover,
.hover-bg-oc-lime-6:focus {
  background-color: #82c91e;
}
.oc-lime-7 {
  color: #74b816;
}
.bg-oc-lime-7 {
  background-color: #74b816;
}
.b--oc-lime-7 {
  border-color: #74b816;
}
.hover-oc-lime-7:hover,
.hover-oc-lime-7:focus {
  color: #74b816;
}
.hover-bg-oc-lime-7:hover,
.hover-bg-oc-lime-7:focus {
  background-color: #74b816;
}
.oc-lime-8 {
  color: #66a80f;
}
.bg-oc-lime-8 {
  background-color: #66a80f;
}
.b--oc-lime-8 {
  border-color: #66a80f;
}
.hover-oc-lime-8:hover,
.hover-oc-lime-8:focus {
  color: #66a80f;
}
.hover-bg-oc-lime-8:hover,
.hover-bg-oc-lime-8:focus {
  background-color: #66a80f;
}
.oc-lime-9 {
  color: #5c940d;
}
.bg-oc-lime-9 {
  background-color: #5c940d;
}
.b--oc-lime-9 {
  border-color: #5c940d;
}
.hover-oc-lime-9:hover,
.hover-oc-lime-9:focus {
  color: #5c940d;
}
.hover-bg-oc-lime-9:hover,
.hover-bg-oc-lime-9:focus {
  background-color: #5c940d;
}
.oc-yellow-0 {
  color: #fff9db;
}
.bg-oc-yellow-0 {
  background-color: #fff9db;
}
.b--oc-yellow-0 {
  border-color: #fff9db;
}
.hover-oc-yellow-0:hover,
.hover-oc-yellow-0:focus {
  color: #fff9db;
}
.hover-bg-oc-yellow-0:hover,
.hover-bg-oc-yellow-0:focus {
  background-color: #fff9db;
}
.oc-yellow-1 {
  color: #fff3bf;
}
.bg-oc-yellow-1 {
  background-color: #fff3bf;
}
.b--oc-yellow-1 {
  border-color: #fff3bf;
}
.hover-oc-yellow-1:hover,
.hover-oc-yellow-1:focus {
  color: #fff3bf;
}
.hover-bg-oc-yellow-1:hover,
.hover-bg-oc-yellow-1:focus {
  background-color: #fff3bf;
}
.oc-yellow-2 {
  color: #ffec99;
}
.bg-oc-yellow-2 {
  background-color: #ffec99;
}
.b--oc-yellow-2 {
  border-color: #ffec99;
}
.hover-oc-yellow-2:hover,
.hover-oc-yellow-2:focus {
  color: #ffec99;
}
.hover-bg-oc-yellow-2:hover,
.hover-bg-oc-yellow-2:focus {
  background-color: #ffec99;
}
.oc-yellow-3 {
  color: #ffe066;
}
.bg-oc-yellow-3 {
  background-color: #ffe066;
}
.b--oc-yellow-3 {
  border-color: #ffe066;
}
.hover-oc-yellow-3:hover,
.hover-oc-yellow-3:focus {
  color: #ffe066;
}
.hover-bg-oc-yellow-3:hover,
.hover-bg-oc-yellow-3:focus {
  background-color: #ffe066;
}
.oc-yellow-4 {
  color: #ffd43b;
}
.bg-oc-yellow-4 {
  background-color: #ffd43b;
}
.b--oc-yellow-4 {
  border-color: #ffd43b;
}
.hover-oc-yellow-4:hover,
.hover-oc-yellow-4:focus {
  color: #ffd43b;
}
.hover-bg-oc-yellow-4:hover,
.hover-bg-oc-yellow-4:focus {
  background-color: #ffd43b;
}
.oc-yellow-5 {
  color: #fcc419;
}
.bg-oc-yellow-5 {
  background-color: #fcc419;
}
.b--oc-yellow-5 {
  border-color: #fcc419;
}
.hover-oc-yellow-5:hover,
.hover-oc-yellow-5:focus {
  color: #fcc419;
}
.hover-bg-oc-yellow-5:hover,
.hover-bg-oc-yellow-5:focus {
  background-color: #fcc419;
}
.oc-yellow-6 {
  color: #fab005;
}
.bg-oc-yellow-6 {
  background-color: #fab005;
}
.b--oc-yellow-6 {
  border-color: #fab005;
}
.hover-oc-yellow-6:hover,
.hover-oc-yellow-6:focus {
  color: #fab005;
}
.hover-bg-oc-yellow-6:hover,
.hover-bg-oc-yellow-6:focus {
  background-color: #fab005;
}
.oc-yellow-7 {
  color: #f59f00;
}
.bg-oc-yellow-7 {
  background-color: #f59f00;
}
.b--oc-yellow-7 {
  border-color: #f59f00;
}
.hover-oc-yellow-7:hover,
.hover-oc-yellow-7:focus {
  color: #f59f00;
}
.hover-bg-oc-yellow-7:hover,
.hover-bg-oc-yellow-7:focus {
  background-color: #f59f00;
}
.oc-yellow-8 {
  color: #f08c00;
}
.bg-oc-yellow-8 {
  background-color: #f08c00;
}
.b--oc-yellow-8 {
  border-color: #f08c00;
}
.hover-oc-yellow-8:hover,
.hover-oc-yellow-8:focus {
  color: #f08c00;
}
.hover-bg-oc-yellow-8:hover,
.hover-bg-oc-yellow-8:focus {
  background-color: #f08c00;
}
.oc-yellow-9 {
  color: #e67700;
}
.bg-oc-yellow-9 {
  background-color: #e67700;
}
.b--oc-yellow-9 {
  border-color: #e67700;
}
.hover-oc-yellow-9:hover,
.hover-oc-yellow-9:focus {
  color: #e67700;
}
.hover-bg-oc-yellow-9:hover,
.hover-bg-oc-yellow-9:focus {
  background-color: #e67700;
}
.oc-orange-0 {
  color: #fff4e6;
}
.bg-oc-orange-0 {
  background-color: #fff4e6;
}
.b--oc-orange-0 {
  border-color: #fff4e6;
}
.hover-oc-orange-0:hover,
.hover-oc-orange-0:focus {
  color: #fff4e6;
}
.hover-bg-oc-orange-0:hover,
.hover-bg-oc-orange-0:focus {
  background-color: #fff4e6;
}
.oc-orange-1 {
  color: #ffe8cc;
}
.bg-oc-orange-1 {
  background-color: #ffe8cc;
}
.b--oc-orange-1 {
  border-color: #ffe8cc;
}
.hover-oc-orange-1:hover,
.hover-oc-orange-1:focus {
  color: #ffe8cc;
}
.hover-bg-oc-orange-1:hover,
.hover-bg-oc-orange-1:focus {
  background-color: #ffe8cc;
}
.oc-orange-2 {
  color: #ffd8a8;
}
.bg-oc-orange-2 {
  background-color: #ffd8a8;
}
.b--oc-orange-2 {
  border-color: #ffd8a8;
}
.hover-oc-orange-2:hover,
.hover-oc-orange-2:focus {
  color: #ffd8a8;
}
.hover-bg-oc-orange-2:hover,
.hover-bg-oc-orange-2:focus {
  background-color: #ffd8a8;
}
.oc-orange-3 {
  color: #ffc078;
}
.bg-oc-orange-3 {
  background-color: #ffc078;
}
.b--oc-orange-3 {
  border-color: #ffc078;
}
.hover-oc-orange-3:hover,
.hover-oc-orange-3:focus {
  color: #ffc078;
}
.hover-bg-oc-orange-3:hover,
.hover-bg-oc-orange-3:focus {
  background-color: #ffc078;
}
.oc-orange-4 {
  color: #ffa94d;
}
.bg-oc-orange-4 {
  background-color: #ffa94d;
}
.b--oc-orange-4 {
  border-color: #ffa94d;
}
.hover-oc-orange-4:hover,
.hover-oc-orange-4:focus {
  color: #ffa94d;
}
.hover-bg-oc-orange-4:hover,
.hover-bg-oc-orange-4:focus {
  background-color: #ffa94d;
}
.oc-orange-5 {
  color: #ff922b;
}
.bg-oc-orange-5 {
  background-color: #ff922b;
}
.b--oc-orange-5 {
  border-color: #ff922b;
}
.hover-oc-orange-5:hover,
.hover-oc-orange-5:focus {
  color: #ff922b;
}
.hover-bg-oc-orange-5:hover,
.hover-bg-oc-orange-5:focus {
  background-color: #ff922b;
}
.oc-orange-6 {
  color: #fd7e14;
}
.bg-oc-orange-6 {
  background-color: #fd7e14;
}
.b--oc-orange-6 {
  border-color: #fd7e14;
}
.hover-oc-orange-6:hover,
.hover-oc-orange-6:focus {
  color: #fd7e14;
}
.hover-bg-oc-orange-6:hover,
.hover-bg-oc-orange-6:focus {
  background-color: #fd7e14;
}
.oc-orange-7 {
  color: #f76707;
}
.bg-oc-orange-7 {
  background-color: #f76707;
}
.b--oc-orange-7 {
  border-color: #f76707;
}
.hover-oc-orange-7:hover,
.hover-oc-orange-7:focus {
  color: #f76707;
}
.hover-bg-oc-orange-7:hover,
.hover-bg-oc-orange-7:focus {
  background-color: #f76707;
}
.oc-orange-8 {
  color: #e8590c;
}
.bg-oc-orange-8 {
  background-color: #e8590c;
}
.b--oc-orange-8 {
  border-color: #e8590c;
}
.hover-oc-orange-8:hover,
.hover-oc-orange-8:focus {
  color: #e8590c;
}
.hover-bg-oc-orange-8:hover,
.hover-bg-oc-orange-8:focus {
  background-color: #e8590c;
}
.oc-orange-9 {
  color: #d9480f;
}
.bg-oc-orange-9 {
  background-color: #d9480f;
}
.b--oc-orange-9 {
  border-color: #d9480f;
}
.hover-oc-orange-9:hover,
.hover-oc-orange-9:focus {
  color: #d9480f;
}
.hover-bg-oc-orange-9:hover,
.hover-bg-oc-orange-9:focus {
  background-color: #d9480f;
}