:root {
  --foreground: #000;
  --background: #fff;
  --secondary: #666;
}

html {
  font-size: 20px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'basiercircle', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--background);
    background: var(--foreground);
  }
}

h1, h2, h3 {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  margin-top: 0;
  margin-bottom: 5%;
}

p {
  max-width: 36em;
}

a {
  color: inherit;
  transition: color .15s ease-in;
}

a:hover {
  color: var(--secondary);
}

ul {
  color: var(--secondary);
  display: flex;
  list-style: none;
  margin-left: 0;
  margin-top: 5%;
  padding: 0;
}

ul li::before {
  content: '·';
  padding: 0 0.5rem;
}

ul li:first-child::before {
  content: none;
  padding: 0;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  color: var(--foreground);
}

.container {
  padding: 5% 6%;
}
