{% if page.hero_bg %}
  background-color: {{ page.hero_bg }};
{% endif %}
{% if page.hero_image %}
  background-image: url({{ page.hero_image }});
  background-repeat: no-repeat;
{% endif %}
{% if page.hero_position %}
  background-position: {{ page.hero_position }};
{% endif %}
{% if page.hero_size %}
  background-size: {{ page.hero_size }}
{% endif %}