<div class="sub-navigation">
  <div class="block">
    <h3>Side projects</h3>
    <ul>
      {% for post in site.posts %}
        {% if post.ext_link %}
          <li class="external"><a href="{{ post.ext_link }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="block">
    <h3>Work</h3>
    <ul>
      {% for post in site.posts %}
        {% unless post.ext_link %}
          {% if page.url == post.url %}
            <li class="active">{{ post.title }}</li>
          {% else %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>

  <div class="block">
    <h3>Connect</h3>
    {% include link-list.html %}
  </div>
</div>