<nav class="main-navigation">
  <div class="wrapper">
    <a class="logo" href="{{ site.baseurl }}/">
      <svg fill="#95959d" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </a>
    {% unless page.url == "/" %}
    <div class="pagination">
      {% if page.next %}
        {% unless page.next.ext_link %}
          <a href="{{page.next.url}}" class="previous{% unless page.previous %} last{% endunless %}">‹ Previous</a>
        {% endunless %}
      {% endif %}
      {% if page.previous %}
        {% unless page.previous.ext_link %}
        <a href="{{page.previous.url}}" class="next">Next ›</a>
        {% endunless %}
      {% endif %}
    </div>
    {% endunless %}
  </div>
</nav>