<div class="sub-navigation">
  <div class="block">
    <h3>Work</h3>
    <ul>
      {% for post in site.posts %}
        {% if page.url == post.url %}
          <li class="active">{{ post.title }}</li>
        {% elsif post.ext_link %}
          <li class="external"><a href="{{ post.ext_link }}">{{ post.title }}</a></li>
        {% else %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="block">
    <h3>Connect</h3>
    <ul>
      <li><a href="http://mlindholm.tumblr.com/">Tumblr</a></li>
      <li><a href="http://twitter.com/#!/thisismatu">Twitter</a></li>
      <li><a href="http://designspiration.net/mlindholm/">Designspiration</a></li>
      <li><a href="http://flickr.com/photos/matu187/">Flickr</a></li>
      <li><a href="https://github.com/mlindholm">Github</a></li>
      <li><a href="https://dribbble.com/thisismatu">Dribbble</a></li>
      <li><a href="https://pinboard.in/u:mlindholm/">Pinboard</a></li>
    </ul>
  </div>
</div>