<div class="space"></div>

<h3>Side projects</h3>
<div class="thumbnail-navigation">
  {% for post in site.posts %}
    {% if post.ext_link %}
      <div class="block">
        <a href="{{ post.ext_link }}">
          <div class="image"  style="background-image: url({{ post.ext_img }})"></div>
          <p class="external">{{ post.title }}</p>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="space"></div>

<h3>Work</h3>
<div class="thumbnail-navigation">
  {% for post in site.posts %}
    {% unless post.ext_link %}
      <div class="block">
        <a href="{{ post.url }}">
          <div class="image"  style="background-image: url({{ site.baseurl }}/img/work/{{ post.img | first }})"></div>
          <p>{{ post.title }}</p>
        </a>
      </div>
    {% endunless %}
  {% endfor %}
</div>

<div class="space"></div>

<div class="sub-navigation">
  <div class="block">
    <h3>Connect</h3>
    {% include link-list.html %}
  </div>
</div>