<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <title>{{ renderData.title or title or site.title }}</title>
    <meta name="description" content="{{ renderData.description or description or site.description }}">
    <link href="https://www.gravatar.com/avatar/a99d3b485de42ba1f8e0fc81e1cb3d65?s=64" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
    {% set css %}
      {% include "css/normalize.css" %}
      {% include "css/base.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
    {% include "gtag.njk" %}
  </head>
  <body>
    <div class="container">
      {{ content | safe }}
    </div>
    <div class="footer">
      <a href="https://twitter.com/thisismatu">Twitter</a> ·  <a href="https://github.com/mlindholm">GitHub</a> ·  <a href="https://dribbble.com/mlindholm/">Dribble</a>
    </div>
  </body>
</html>



