<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <title>{{ renderData.title or title or site.title }}</title>
    <meta name="description" content="{{ renderData.description or description or site.description }}">
    <link rel="shortcut icon" href="https://www.gravatar.com/avatar/a99d3b485de42ba1f8e0fc81e1cb3d65?s=64">
    {% include "style.njk" %}
    {% include "gtag.njk" %}
  </head>
  <body>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>



