/* Base*/

html {
  font-size: $text;
}

body {
  background: $white;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.wrapper {
  margin: 0 auto;
  max-width: 45rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include clearfix;
}


/* Typography*/

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0;
}

h1 {
  font-size: 1.953rem;
  margin-bottom: 1.953rem;
}

h2 {
  font-size: 1.563rem;
  margin-bottom: 1.563rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

h4, .large {
  font-weight: 400;
  font-size: 1.125rem;
}

.sc {
  font-size: $text-small;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

strong {
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

a {
  box-shadow: inset 0 -1px 0 0 $white, inset 0 -2px 0 0 $lightgray;
  color: inherit;
  text-decoration: none;
  text-decoration: none;
  text-shadow: 1px 1px 0 $white, -1px 1px 0 $white, 2px 0 0 $white, -2px 0 0 $white;
  transition: all .2s ease-in-out 0s;
}

a:hover {
  box-shadow: inset 0 -1px 0 0 $white, inset 0 -2px 0 0 $black;
}

a:focus {
  outline: none;
}

a.no-underline {
  box-shadow: none;
  text-shadow: none;
}


/* Navigation*/

.main-navigation {
  box-shadow: 0 1px 0 rgba(0,5,10,0.125);
  color: $gray;
  font-size: $text-small;
  line-height: 24px;
  position: relative;
  @include clearfix;

  a {
    color: $gray;
    display: block;
    float: left;
    padding: 16px;
    @extend a.no-underline;

    &:hover {
      background-color: #f5f6f6;
    }
  }

  .logo {
    margin-left: -1rem;

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  .pagination {
    float: right;

    @include media-query($phone) {
      margin-right: -1rem;
    }

    .next {
      border-left: 1px solid rgba(0,5,10,0.125);
      border-right: 1px solid rgba(0,5,10,0.125);

      @include media-query($phone) {
        border-right: none;
      }
    }

    .previous {
      border-left: 1px solid rgba(0,5,10,0.125);

      &.last {
        border-right: 1px solid rgba(0,5,10,0.125);
      }
    }
  }
}


/* Thumbnail navigation*/

.thumbnail-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1rem;

  .block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 50%;
    padding-left: 1rem;
    width: 50%;

    @include media-query($phone) {
      width: 100%;
      max-width: 100%;
    }

    a {
      display: block;
      @extend a.no-underline;

      &:hover {
        transform: scale(1.02);
      }
    }

    p {
      @include media-query($phone) {
        font-size: $text-small;
      }
      @include navigation-elements;
    }
  }
}

/* List navigation*/

.sub-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  @include media-query($phone) {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 1rem;

    &:last-child {
      @include media-query($phone) {
        margin-bottom: 0;
      }
    }
  }

  li {
    @include navigation-elements;
  }
}

/* Elements*/

.space {
  height: 2rem;
}

.wrapper img {
  max-width: 100%;
  height: auto
}

hr {
  background-color: $lightgray;
  height: 1px;
  border: none;
  outline: none;
  margin: 2rem 0;
}


/* Page styles*/

.main {
  margin-top: 4rem;

  @include media-query($tablet) {
    margin-top: 2rem;
  }

  .title {
    br {
      @include media-query($phone) {
        display: none;
      }
    }
  }
}


.project {
  margin-bottom: 4rem;
  @include clearfix;

  .project-title {
    margin-bottom: 1rem;
  }

  .project-info {
    color: $gray;
  }

  .project-images {
    margin-top: 1rem;
    position: relative;
    float: right;
    right: 50%;

    img {
      display: block;
      position: relative;
      right: -50%;
      width: 100vw;
      max-width: 1034px;
      margin-top: 1rem;
      padding: 0 1rem;
    }
  }
}

/* Footer*/

.footer {
  font-size: $text-small;
  margin: 2rem 0 3rem;
  color: $gray;

  p {
    margin: 0;
  }
}