/* Base*/

html {
  font-size: $text;
}

body {
  background: $white;
  color: $grey-700;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.wrapper {
  margin: 0 auto;
  max-width: 732px;
  padding-left: 1rem;
  padding-right: 1rem;
  @include clearfix;
}


/* Typography*/

h1, h2, h3 {
  color: $grey-900;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

h4,
.large {
  font-weight: 400;
  font-size: 1.125rem;
}

.huge {
  font-weight: 700;
  font-size: 3rem;

  @include media-query($phone) {
    font-size: 2rem;
  }
}

.sc {
  font-size: $text-small;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

strong {
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

a {
  box-shadow: inset 0 -1px 0 0 $white, inset 0 -2px 0 0 $grey-300;
  color: inherit;
  text-decoration: none;
  text-decoration: none;
  text-shadow: 1px 1px 0 $white, -1px 1px 0 $white, 2px 0 0 $white, -2px 0 0 $white;
  transition: all .2s ease-in-out 0s;
}

a:hover {
  box-shadow: inset 0 -1px 0 0 $white, inset 0 -2px 0 0 $grey-700;
}

a:focus {
  outline: none;
}

a.no-underline {
  box-shadow: none;
  text-shadow: none;
}


/* Navigation*/

.main-navigation {
  box-shadow: 0 1px 0 $grey-300;
  color: $grey-500;
  font-size: $text-small;
  line-height: 24px;
  position: relative;
  @include clearfix;

  a {
    color: $grey-500;
    display: block;
    float: left;
    padding: 16px;
    @extend a.no-underline;

    &:hover {
      background-color: $grey-100;
    }
  }

  .logo {
    margin-left: -1rem;

    svg {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  .pagination {
    float: right;

    @include media-query($phone) {
      margin-right: -1rem;
    }

    .next {
      border-left: 1px solid $grey-300;
      border-right: 1px solid $grey-300;

      @include media-query($phone) {
        border-right: none;
      }
    }

    .previous {
      border-left: 1px solid $grey-300;

      &.last {
        border-right: 1px solid $grey-300;
      }
    }
  }
}


/* Thumbnail navigation*/

.thumbnail-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1rem;

  .block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 50%;
    padding-left: 1rem;
    width: 50%;

    @include media-query($phone) {
      width: 100%;
      max-width: 100%;
    }

    a {
      display: block;
      @extend a.no-underline;

      &:hover {
        transform: scale(1.02);
      }
    }

    p {
      @include navigation-elements;
    }
  }
}

/* List navigation*/

.sub-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  @include media-query($phone) {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 1rem;

    &:last-child {
      @include media-query($phone) {
        margin-bottom: 0;
      }
    }
  }

  li {
    @include navigation-elements;
  }
}


/* Elements*/

.space {
  height: 2rem;
}

.wrapper img {
  max-width: 100%;
  height: auto
}

hr {
  background-color: $grey-300;
  height: 1px;
  border: none;
  outline: none;
  margin: 2rem 0;
}


/* Page styles*/

.main {
  margin-top: 4rem;

  @include media-query($tablet) {
    margin-top: 3rem;
  }
}

/* Project styles*/

.project {
  margin-bottom: 4rem;
  @include clearfix;

  .project-title {
    margin-bottom: 1rem;
  }

  .project-info {
    color: $grey-500;
  }

  .project-images {
    margin-top: 1rem;
    position: relative;
    float: right;
    right: 50%;

    img {
      display: block;
      position: relative;
      right: -50%;
      width: 100vw;
      max-width: 1034px;
      margin-top: 1rem;
      padding: 0 1rem;
    }
  }
}

/* Footer*/

.footer {
  font-size: $text-small;
  margin: 2rem 0 3rem;
  color: $grey-500;

  p {
    margin: 0;
  }
}