// Variables

// Grays
$grey-900: hsl(240, 8, 15);
$grey-700: hsl(240, 8, 20);
$grey-500: hsl(240, 4, 60);
$grey-300: hsl(240, 2, 87);
$grey-100: hsl(240, 2, 97);
$white: #fff;

// Text size
$text: 16px;
$text-small: 14px;

// Devices
$phone: 480px;
$tablet: 768px;


// Mixins

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin navigation-elements {
  &:after {
    display: inline-block;
    vertical-align: -3px;
    padding-left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }

  &.active {
    color: $grey-500;

    &:after {
      content: url('../img/ic_remove_red_eye_black_18px.svg');
      vertical-align: -4px;
    }
  }

  &.external {
    &:after {
      content: url('../img/ic_open_in_new_black_18px.svg');
    }
  }
}