:root{
  --accent: #36c;
  --primary: #111;
  --secondary: #808080;
  --background: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 125%;
  font-family: Georgia, serif;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 112.5%;
  }
}

body {
  margin: 5vw auto;
  max-width:  34rem;
  line-height: 1.5;
  color: var(--primary);
  background: var(--background);
  padding: 1rem;
}

h1, h2, h3 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  line-height: 1.5;
}

table td {
  padding: 0;
}

td:first-child {
  width: 5rem;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, section, footer {
  margin-bottom: 3rem;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 5rem;
  margin-right: 1rem;
  border-radius: 999px;
}

header h1 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: .25rem;
}

footer p,
header p {
  color: var(--secondary);
  margin: 0;
}
