---
layout: default
---

<article class="project" id="{{ page.title | slugify }}">
  <h1 class="project-title">{{ page.title }}</h1>
  {% if page.skills %}
    <div class="project-info">
      <ul>
        <li>{{ page.date | date: "%Y" }}</li>
      </ul>
      <ul>
        {% for skills in page.skills %}
          <li>{{ skills }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="project-description">
    {{ content }}
  </div>
  {% if page.img %}
    <div class="project-images">
      {% for img in page.img %}
        <img src="{{site.baseurl}}/img/work/{{img}}" alt="{{ page.title | slugify }}" />
      {% endfor %}
    </div>
  {% endif %}
</article>
{% include sub-navigation.html %}