---
layout: default
---

<article class="project" id="{{ page.title | slugify }}">
  <div class="row">
    <div class="col-12">
      <div class="project-title">
        <h2>{{ page.title }}</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="project-info">
        {% if page.skills %}
          <ul>
            {% for skills in page.skills %}
              <li>{{ skills }}</li>
            {% endfor %}
          </ul>
        {% endif %}</div>
    </div>
    <div class="col-8">
      <div class="project-description">
        {{ content }}
      </div>
    </div>
    <div class="col-12">
      <div class="project-images">
        {% if page.img %}
          {% for img in page.img %}
            <img src="{{site.baseurl}}/img/loader.gif" data-src="{{site.baseurl}}/img/work/{{img}}" alt="{{ page.title | slugify }}" />
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</article>